// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '/node_modules/bootstrap/scss/bootstrap';

.btn-link {
    color: blue !important
}

.btn-link.table-button {
    padding: 0px !important;

}

.status-button{
    padding-left: 10px !important;
    padding-bottom: 0px !important;
}