<template>
  <div>
    <ul id="tasks">
      <p v-if="userData.canDeleteTask">Admin user detected</p>
      <li v-for="(value, name) in taskData" :key="name">
        {{ name }}: {{ value }} <button type="button" id="delete-task" v-if="userData.canDeleteTask" class="btn btn-primary">X</button>
      </li>
    </ul>
    <p v-if="errorMessage">{{errorMessage}}</p>
    <form onsubmit="return false;">
      <div class="form-group mb-3">
        <label for="task" class="">Task: </label>
        <input type="text" id="task" v-model="newAttributes" max-length="200" placeholder='{"high prority": "do thing"}' class="form-control">
      </div>
      <button id="submit" class="btn btn-primary" @click="checkData">Submit</button>
    </form>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        newAttributes: '',
        currentAPIId: 1,
        errorMessage: '',
        userData: {
          canDeleteTask: false,
        },
        taskData: {
          Urgent: 'File expense reports',
        }
      }
    },

    methods: {
      checkData() {
        try {
          this.errorMessage = ''
          let task = JSON.parse(this.newAttributes)
          if(task && typeof task === 'object') {
            this.merge(this.taskData, task);
            this.userData = { userNumber: this.currentAPIId};
            this.currentAPIId++;
            this.$forceUpdate();
          }
          else {
            this.errorMessage = "Item is not valid JSON." 
          }
        } catch(e) {
          this.errorMessage = "An error has occurred."
        }
        this.newAttributes = ''
      },

      merge(currentData, incomingData) {
        for(var attr in incomingData) {
          if(typeof(currentData[attr]) === "object" && typeof(incomingData[attr]) === "object") {
            this.merge(currentData[attr], incomingData[attr]);
          } else {
            currentData[attr] = incomingData[attr];
          }
        }
        return currentData;
      },
    }
  }
</script>